<!DOCTYPE html>
	<html lang="en">
	<head>
   	 <meta charset="UTF-8">
   	 <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>What is in the box</title>
     <% include head %>
</head>
<body>
	<div class="container"> 
	  <div class="jubotron" >
	  	<h1> <%=title%> </h1>
	  </div>
	  <ul>
	  <% for(var i=0; i<answers.length; i++) {%>
	     <li class="current"></span><span class="number"><%= answers[i].answer  + ' ' + answers[i].people    %></li>
	  <% } %>
	  </ul>
	 <div class="push"> </div> 
	</div>
	<% include footer %>
</body> 
