
<div> 
  <h3> <%=title%> </h3>
  <ul>
  <% for(var i=0; i<answers.length; i++) {%>
     <li class="current"></span><span class="number"><%= answers[i].answer  + ' ' + answers[i].people    %></li>
  <% } %>
  </ul>
</div> 
