<!DOCTYPE html>
	<html lang="en">
	<head>
   	 <meta charset="UTF-8">
     <title>What is in the box</title>
     <% include head %>
</head>
	<div class="container">
		<div class="jubotron" >
			<h1>There is a box in the middle of the road</br> 
			<strong> What is in the Box?!</strong></h1>
		</div>
		<form id="frmAnswer" method="post" action="/" >
		<div class="form-group">	
			<div class="row">
				<div class="col-lg-3">
					<input type="text" class="form-control" name="txtAnswer" id="txtAnswer" > </input> 
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-success" id="btnAnswer"> Send Answer </button>
		</form>
	<div class="push"> </div>
	</div>
	<% include footer %>
	</body>
</html>